<main>
  <div class="container text-center">
    <h2 class="main-title display-3">Login</h2>

    <form class="w-100">
      <div class="input-group input-group-lg mt-5">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">Email</span>
        </div>
        <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
      </div>

      <div class="input-group input-group-lg mt-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">Password</span>
        </div>
        <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
      </div>

      <button type="button" class="mx-auto btn btn-lg btn-dark-fill w-100">SUBMIT</button>
    </form>
  </div>
</main>